<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

		<head th:fragment = "header">
			<!-- Required meta tags -->
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		    <!-- Bootstrap CSS -->
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		</head>
		<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#"> IIB Health Check Utill</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"/>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/IntegrationNode}">Integration Nodes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/QueueManager}">Queue Manager</a>
				</li>

				</ul>
			</div>
		</nav>
		
		<!-- Footer -->
		<footer th:fragment = "footer" class="page-footer font-small blue">
		
		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-3">© 2020 Copyright:
		    <a href="https://mdbootstrap.com/"> IIB Health Check Utilities</a>
		  </div>
		  <!-- Copyright -->
		
		</footer>
		<!-- Footer -->			
	<div class="container">	
		<form th:fragment = "form" action="/gettingStatus" th:object="${project}" method="POST">
		  <div class="form-group">
		    <label for="hostname">Host Name</label>
		    <input type="text" class="form-control" id="exampleInputHost" aria-describedby="hostnameHelp" placeholder="Enter Host Name">
		   </div>
		  <div class="form-group">
		    <label for="exampleInputPort">Port No</label>
		    <input type="text" class="form-control" id="exampleInputPort" placeholder="Port">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>		
			
</div>
		


					

</html>